<!DOCTYPE html>
<html>
	<head>
		<title>Home page</title>
		<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
		<link href='/css/home.css' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div class="content_wrap">
			<h1>Hello {{ name }}</h1>

			<div class="content">
				<span>Welcome to your <a href="https://github.com/pytorn/torn" target="_blank">torn</a> application.</span>
				<div class="features">
					<ul>
						<li>MVC Structure</li>
						<li>Implicit Routing</li>
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>